{% extends "base.html" %}

{% block content %}
{% for page in pages %}
    {% if page.save_as == 'index.html' %}
        <article>
            {% if PROFILE_PHOTO %}
            <div class="header">
                <img src="{{ SITEURL }}{{ PROFILE_PHOTO }}" alt="{{ AUTHOR }}" class="profile-photo">
                <div class="header-text">
                    {{ page.content }}
                </div>
            </div>
            {% else %}
            {{ page.content }}
            {% endif %}
        </article>
    {% endif %}
{% endfor %}
{% endblock %}