---
import BaseLayout from '../components/BaseLayout.astro';
---

<BaseLayout title="Impressum">
  <h1>Impressum</h1>

  <h2>Angaben gemäß § 5 TMG</h2>

  <p>
    Jan Vanvinkenroye<br />
    Cäsar-von-Hofacker-Anlage 12<br />
    71640 Ludwigsburg
  </p>

  <h2>Kontakt</h2>

  <p class="contact-info">
    <i class="fas fa-envelope"></i> <a href="mailto:jan@vanvinkenroye.de">jan@vanvinkenroye.de</a><br />
    <i class="fas fa-phone"></i> <a href="tel:+491711854655">+49 171 185 4655</a>
  </p>
</BaseLayout>
