---
const currentYear = new Date().getFullYear();
---

<footer>
  <p>
    &copy; {currentYear} Jan Vanvinkenroye &bull;
    Built with <a href="https://astro.build/">Astro</a> &bull;
    <a href="/impressum/">Impressum</a>
  </p>
</footer>
